h2 How to use?
dl 
	dt Default 
	dd http://localhost:3000/cep/50710-390/

	dt Changing format
	dd http://localhost:3000/cep.json/50710-390/

	dt Using callback for JSONP
	dd http://localhost:3000/cep.json/50710-390/?callback=?