doctype 5
html(lang="en")
	head
	title="EasyCEP"
	link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
	link(rel='stylesheet', href='/css/docs.css')
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href='./index.html') EasyCEP
		.container
			header#overview.jumbotron.masthead
			.inner
				h1 EasyCEP
				!= body